<footer style="bottom: 0;width: 100%;position:relative;">
	<div class="div1">
		<h4 style="color:white;">More About Company</h4><hr width="460" align="left">
		<h6 style="color:#C8CAC6;">We are Zefo, an early stage eCommerce startup committed to giving buyers and sellers<br>an absolutely hassle free used goods shopping experience. Quite counter-intuitively, we<br>decided to take all of that pain and load it all on ourselves, to ensure that each of you get<br>the most convenient and Zero Effort experience while trying to buy and sell.</h6>
	</div>
	<div style="margin-left:650px;margin-top:-122.7px;">
		<div class="fb" style="color:#C8CAC6;">
				<h4 style="color:white;">Keep Connected</h4><hr width="160" align="left">
				<a href="#" class="fa fa-facebook"></a> Like us on Facebook<br>
				<a href="#" class="fa fa-twitter"></a> Follow us on Twitter<br>
				<a href="#" class="fa fa-google-plus"></a> Add us on Google Plus<br>
		</div>
	</div>
	<div style="margin-left:1030px;margin-top:-184.5px;">
		<div class="fb" style="color:#C8CAC6;">
				<h4 style="color:white;">Contact Us</h4><hr width="160" align="left">
				 <span  class="glyphicon glyphicon-home"></span> &nbsp;3154 Glenwood Avenue,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Warrensville Heights,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ohio-44128.<br><br>
				 <span  class="glyphicon glyphicon-earphone"></span> &nbsp;216-318-2397<br><br>
				 <span  class="glyphicon glyphicon-envelope"></span> &nbsp;<a href="#"style="color:#C8CAC6;">buy.sell@bs.com</a><br>
		</div>
	</div>
	<h6 style="background-color:#C8CAC6;;color:black;margin-bottom:-30px;margin-left:-30px;margin-right:-30px;padding:10px;">@ 2017. All Rights Reserved</h6>
</footer>